.sidebar_list
  %h3 Filter by Catergory
  %ul{:id => 'category_list'}
    %li
      %input{:type => "checkbox", :id => 'category_all'}/
      %span All (#{Service.count})
    - Category.by_services.each do |category|
      %li
        %input{:type => "checkbox"}/
        %span= "#{category.name} (#{category.service_count})"
  %p
    %a{:href => '#', :id => 'category_more'}
      show all
      %img{:alt => "arrow", :src => "images/find_down_arrow.png"}/
