.sidebar_list
  %h3 Filter by Category (#{@services.length})
  %ul{:id => 'category_list'}
    %li.selector
      %a{:href => '#', :id => 'category_all'} Select All
      \/
      %a{:href => '#', :id => 'category_none'} Unselect All
    - Category.by_services.each do |category|
      %li
        %input{:type => "checkbox", :id => "category_#{category.id}", :value => category.id}/
        %span= "#{category.name}"
  %p
    %a{:href => '#', :id => 'category_more', :style => 'display:none'}
      show all
      %img{:alt => "arrow", :src => "images/find_down_arrow.png"}/
