<h2 class="offer_form_h2">Offer a Service to support your favorite non-profit <span>Want to copy information from an offer you made previously? <a href="#">Click here</a></span> </h2>

<a href="#" class="bro_req_btn">Browse Requests</a> 

<div class="offer_form">

  <form enctype="multipart/form-data">
    <div class="setp_box">
      <h3 class="setp_box_heading"><span>Step 1:</span> Describe the service or experience you want to offer</h3>

      <p>
      <label class="form_lbl">Title</label>
      <input type="text" class="form_input_full" />
      <span class="hint">This is the place where the detailed event description will show up..<span class="hint-pointer">&nbsp;</span></span> </p>

      <p>
      <label class="form_lbl">Description</label>
      <textarea class="form_input_full input_area"></textarea>
      <span class="hint">This is the place where the detailed event description will show up..<span class="hint-pointer">&nbsp;</span></span> </p>

      <p>
      <label class="form_lbl">Category</label>
      <select class="input_select">
        <option></option>
      </select>
      <span class="hint">This is the place where the detailed event description will show up..<span class="hint-pointer">&nbsp;</span></span> </p>

    </div>

    <div class="setp_box">
      <h3 class="setp_box_heading"><span>Step 2:</span> Choose the non-profit that you would like to support</h3>
      <p>
      <label class="form_lbl">Non-Profit</label>
      <input type="text" class="form_input_full input_half" />
      <span class="setp_box_p_span">or <a href="#">click here to browse</a></span> <span class="hint">This is the place where the detailed event description will show up..<span class="hint-pointer">&nbsp;</span></span> </p>
    </div>

    <div class="setp_box">
      <h3 class="setp_box_heading"><span>Step 3:</span> Tell us where this service will be offered</h3>
      <p>
      <label class="form_lbl">Online Service</label>
      <input type="checkbox" checked="checked" class="input_checkbox" />
      <span class="setp_box_p_span">(Check if this service will be offered virtually/online)</span> </p>

      <p>
      <label class="form_lbl">City</label>
      <input type="text" class="form_input_full input_small" />
      </p>
    </div>

    <div class="setp_box">
      <h3 class="setp_box_heading"><span>Step 4:</span> Tell us when this service will be offered</h3>

      <p>
      <label class="form_lbl">Schedule Later</label>
      <input type="checkbox" checked="checked" class="input_checkbox" />
      <span class="setp_box_p_span">(Leave it checked if you would like to choose a date/time with the buyer after purchase) <a href="#">How it works?</a></span> </p>

      <p> <span class="setp_two_col">
        <label class="form_lbl">Start Date</label>
        <input type="text" class="form_input_full input_small" />
        <span class="hint">This is the place where the detailed event description will show up..<span class="hint-pointer">&nbsp;</span></span> </span> <span class="setp_two_col">
        <label class="form_lbl">Start Time</label>
        <input type="text" class="form_input_full input_small" />
      </span> </p>

      <p> <span class="setp_two_col">
        <label class="form_lbl">End Date</label>
        <input type="text" class="form_input_full input_small" />
        </span> <span class="setp_two_col">
        <label class="form_lbl">End Time</label>
        <input type="text" class="form_input_full input_small" />
      </span> </p>

      <p> <span class="setp_two_col">
        <label class="form_lbl">Min. Group Size</label>
        <input type="text" class="form_input_full input_small" />
        </span> <span class="setp_two_col">
        <label class="form_lbl">Max. Group Size</label>
        <input type="text" class="form_input_full input_small" />
      </span> </p>

    </div>

    <div class="setp_box">
      <h3 class="setp_box_heading"><span>Step 5:</span> What is the requested donation amount for this service?</h3>
      <p>
      <label class="form_lbl">Amount</label>
      <input type="text" class="form_input_full input_small" />
      <span class="hint">This is the place where the detailed event description will show up..<span class="hint-pointer">&nbsp;</span></span> </p>
    </div>

    <div class="setp_box">
      <h3 class="setp_box_heading"><span>Step 6:</span> Add Pictures illustrating your service</h3>
      <p>
      <label class="form_lbl">Select an Image</label>
      <input type="file" value="Browse" class="input_browse" />
      </p>
    </div>

    <div class="setp_box">
      <h3 class="setp_box_heading"><span>Step 7:</span> Choose privacy settings for the listing</h3>
      <ul class="input_radio_nav">
        <li>
        <input type="radio" name="test" />
        <span>I want this listing posted publicly to everyone on the site</span></li>
        <li>
        <input type="radio" name="test" />
        <span>Don't post this on the site. I will share it with and only those I share it with will be able to access it </span> </li>
      </ul>
    </div>

    <div class="input_post_div">
      <input type="button" value="Post It" class="btn_form button form_post_btn" />
      <p>You will be able to share it afterwards</p>
    </div>

    <ul class="offer_form_bottom_nav">
      <li>All services offered must be fully legal under US law and appropriate to discuss in front of people all ages.  Please keep it appropriate and positive!</li>
      <li>Please also check specific policies of the non-profit for whom you are offering your service.</li>
      <li>GoodInKind reserves the right to remove any postings at any time.</li>
    </ul>

  </form>

</div>



