- @reviews[0..3].each do |review|
  .review_text
    %h3
      - class_name =  review.is_positive == true ? "positive" : "negative"
      %span{:class => class_name}= class_name.titleize
      by
      %span.ss_name=  review.user.profile.first_name
      %p
        = review.review_remark
