- 10.times do |i|
  - unless @reviews[i].blank?
    %h3
      %span.positive= @reviews[i].is_positive == true ? "Positive" : "Negative"
      by
      %span.ss_name=  @reviews[i].user.profile.first_name
      %p
        = @reviews[i].review
