/ NonProfit
.off_by
  .off_by_profile
    %h4.profile_title_h4 Non-Profit:
    %img.profile_pic_nonpf{:alt => "pic", :src => "images/redcorss.jpg"}/
    %h3.profile_title_h3
      Red Cross
      %span Cupertino, CA
  .profile_list
    %p
      %span.pl_left Website:
      %span.pl_right
        %a{:href => "#"} www.redcross.com
    %p
      %span.pl_left Description:
      %span.pl_right
        I make beautiful things.
        %br/
        I make beautiful things.
        %br/
        I make beautiful things.
  %p.pl_view_more
    %a{:href => "#"} View profile
/ #End NonProfit
