.sidebar_list
  %h3 Filter by Non-Profit (#{@services.length})
  %ul{:id => 'nonprofit_list'}
    %li.selector
      %a{:href => '#', :id => 'nonprofit_all'} Select All
      \/
      %a{:href => '#', :id => 'nonprofit_none'} Unselect All
    - Category.by_nonprofits.each do |category|
      %li
        %input{:type => "checkbox", :id => "nonprofit_#{category.id}", :value => category.id}/
        %span= "#{truncate(category.name, :length => 22)}"
  %p
    %a{:href => "#", :id => 'nonprofit_more', :style => 'display:none'}
      show all
      %img{:alt => "arrow", :src => "images/find_down_arrow.png"}/
