/ Offered By
.off_by
  .off_by_profile
    %h4.profile_title_h4 Offered by:
    %img.profile_pic{:alt => "pic", :src => "images/photo_pic.jpg"}/
    %h3.profile_title_h3
      Steve Jobs
      %span Cupertino, CA
  .profile_list
    %p
      %span.pl_left Website:
      %span.pl_right
        %a{:href => "#"} www.apple.com
    %p
      %span.pl_left Social Network:
      %span.pl_right
        %a.pl_sn{:href => "#", :target => "_blank", :title => "Facebook"}
        %a.pl_sn.tw_pl{:href => "#", :target => "_blank", :title => "Twitter"}
        %a.pl_sn.ln_pl{:href => "#", :target => "_blank", :title => "Linkedin"}
    %p
      %span.pl_left Reviews:
      %span.pl_right 99% Positive
    %p
      %span.pl_left Transactions:
      %span.pl_right 28
    %p
      %span.pl_left Raised:
      %span.pl_right $130
    %p
      %span.pl_left Description:
      %span.pl_right
        I make beautiful things.
        %br/
        I make beautiful things.
        %br/
        I make beautiful things.
  %p.pl_view_more
    %a{:href => "#"} View profile
/ #End Offered By
