.sidebar_list
  %h3 Filter by Price
  %ul
    %li
      %input{:type => "checkbox", :id => 'price_all'}/
      %span All
    %li
      %input{:type => "checkbox", :value => '0-50'}/
      %span &lt; $50
    %li
      %input{:type => "checkbox", :value => '50-100'}/
      %span $50 to $100
    %li
      %input{:type => "checkbox", :value => '100-200'}/
      %span $100 to $200
    %li
      %input{:type => "checkbox", :value => '200-500'}/
      %span $200 to $500
    %li
      %input{:type => "checkbox", :value => '500-above'}/
      %span $500 and above
