.sidebar_list
  %h3 Filter by Price
  %ul{:id => 'price_list'}
    %li
      %input{:type => "checkbox", :id => 'price_all', :value => 'all'}/
      %span All
    %li
      %input{:type => "checkbox", :value => '0-50'}/
      &nbsp;&nbsp;&lt;&nbsp $50
    %li
      %input{:type => "checkbox", :value => '50-100'}/
      &nbsp;&nbsp;$50 to $100
    %li
      %input{:type => "checkbox", :value => '100-200'}/
      &nbsp;&nbsp;$100 to $200
    %li
      %input{:type => "checkbox", :value => '200-500'}/
      &nbsp;&nbsp;$200 to $500
    %li
      %input{:type => "checkbox", :value => '500-above'}/
      &nbsp;&nbsp;$500 and above
