%h3.comment_icon
  = image_tag('review_icon.png', :alt => "Review")
  %span Reviews
%p.review_content_disc= @service.reviews.first.try(:review) 
%hr.add_hr/
%h3.comment_icon
  = image_tag('q_a_icon.png', :alt => "Reviews")
  %span Q&amp;A
= image_tag('comments.png', :alt => "comments", :style => "float:left;")
