%p.services_content_disc= @service.description
.address_text
  %p
    %span.add_left Location:
    %span.add_right= @service.location.try(:address)
  %p
    %span.add_left Dates Available:
    %span.add_right To be scheduled
  %p
    %span.add_left Spots Available:
    %span.add_right= @service.booking_capacity - @service.booked_seats 
%hr.add_hr/
