.sidebar_list
  %h3 Filter by Non-Profit
  %ul
    %li
      %input{:checked => "checked", :type => "checkbox"}/
      %span All (250)
    %li
      %input{:type => "checkbox"}/
      %span Children &amp; Youth
    %li
      %input{:type => "checkbox"}/
      %span Healthcare
    %li
      %input{:type => "checkbox"}/
      %span Poverty
    %li
      %input{:type => "checkbox"}/
      %span Family
  %p
    %a{:href => "#"}
      show all
      %img{:alt => "arrow", :src => "images/find_down_arrow.png"}/
