%h3.comment_icon
  %img{:alt => "Reviews", :src => "images/review_icon.png"}/
  %span Reviews
%p.review_content_disc This is the place where the detailed event description will show up.. Maybe max 100 words... This is the place where the detailed event description will show up.. Maybe max 100 words...This is the place where the detailed event description will show up.. Maybe max 100 words...This is the place where the detailed event description will show up.. Maybe max 100 words...
%hr.add_hr/
%h3.comment_icon
  %img{:alt => "Reviews", :src => "images/q_a_icon.png"}/
  %span Q&amp;A
%img{:alt => "comment", :src => "images/comments.png", :style => "float:left"}/
