%a{:href => "#"}
  .fs_box
    .tag_spots
    = image_tag service.images.any? ? service.images.first.url(:thumb) : 'missing/service.jpg', :class => 'fs_box_pic'     
    .fs_left
      %span.fs_head= service.title
      %span.fs_for for
      %span.fs_disc= service.nonprofit.try(:name)
    .fs_price
      $#{service.amount}
    .clear
