.services_main
  %h2.services_h2
    Pick and keep tasty apples from a local orchard
    %em for
    Racker Center
  partial :service_detail
  .services_sidebar
    render :partial => "offerer_detail"
    render :partial => "non_profit_detail"
