
- content_for :header do
  = stylesheet_link_tag "jquery.tooltip", "facebox"
  = javascript_include_tag "jquery-dimension", "jquery.tooltip.min", "facebox"
:javascript
  jQuery(document).ready(function(){
    $('.bg_white a').tooltip({ 
      delay: 0, 
      showURL: false, 
      bodyHandler: function() { 
        return $(this).attr("detail"); 
      } 
      });
    });

%h2
  %span.edit_service_head Services 
  %a.bro_req_btn{:href => admin_root_path} Go to Admin
#services
  = render :partial => "service"
#pagination
  = render :partial => "page"
