/ Profile Reviews
.profile_reviews
  %h2.pp_h2 Reviews written for Steve
  .review_text
    %h3
      %span.positive Positive
      for
      %span.ss_name Apple picking in an orchard
    %h4
      by
      %span.ss_name Anar P
      on August 14, 2011
    %p Lorizzle ipsum dolizzle mofo fizzle, consectetuer adipiscing i'm in the shizzle. Nullam sapizzle velit, fo shizzle volutpizzle, suscipit quis, gravida vizzle, arcu. Pellentesque you son of a bizzle tortizzle. Sizzle erizzle. Things at dolor dapibus turpis tempus i'm in the shizzle. Uhuh ... yih! pellentesque brizzle izzle gizzle. Vestibulum izzle tortizzle. Pellentesque eleifend rhoncizzle nisi. In hac habitasse platea fizzle. I'm in the shizzle dapibus. Funky fresh tellizzle things, pretium nizzle, bling bling ac, eleifend boom shackalack, nunc. Sheezy suscipit. Integer sempizzle velit sizzle ass.
  .review_text
    %h3
      %span.positive Positive
      for
      %span.ss_name Apple picking in an orchard
    %h4
      by
      %span.ss_name Anar P
      on August 14, 2011
    %p Lorizzle ipsum dolizzle mofo fizzle, consectetuer adipiscing i'm in the shizzle. Nullam sapizzle velit, fo shizzle volutpizzle, suscipit quis, gravida vizzle, arcu. Pellentesque you son of a bizzle tortizzle. Sizzle erizzle. Things at dolor dapibus turpis tempus i'm in the shizzle. Uhuh ... yih! pellentesque brizzle izzle gizzle. Vestibulum izzle tortizzle. Pellentesque eleifend rhoncizzle nisi. In hac habitasse platea fizzle. I'm in the shizzle dapibus. Funky fresh tellizzle things, pretium nizzle, bling bling ac, eleifend boom shackalack, nunc. Sheezy suscipit. Integer sempizzle velit sizzle ass.
  %p.view_more
    %a{:href => "#"} View All Reviews
/ End Profile Reviews
