#tab1.tab_content
  .up_my_profile
    .up_my_profile_left
      .mypic
        %img{:alt => "MyPic", :src => "images/mypic.jpg"}/
      .my_stats
        %h2 GoodInKind Stats
        %ul
          %li
            Total Services Offered:
            %span 0
          %li
            Total Purchased:
            %span 0
          %li
            Total Amount Raised:
            %span $0
          %li
            Total Time Donated:
            %span 0
          %li
            \% Positive Reviews:
            %span -
          %li
            Total Reviews:
            %span 0
    .up_my_profile_right
      %h2.my_name
        Steve Jobs
        %span
          %a{:href => "user_tab_profile_edit.html"}
            %img{:alt => "edit", :src => "images/edit_icon.jpg"}>/
            Edit Profile
      %p.my_pro_p
        %label.my_pro_lbl Age:
        %span.my_pro_spn
          54
          %span.my_pro_not_pl
            Not-Public
            %b (?)
      %p.my_pro_p
        %label.my_pro_lbl Sex:
        %span.my_pro_spn --
      %p.my_pro_p
        %label.my_pro_lbl Location:
        %span.my_pro_spn --
      %p.my_pro_p
        %label.my_pro_lbl Email:
        %span.my_pro_spn
          stevejobs@apple.com
          %span.my_pro_not_pl
            Not-Public
            %b (?)
      %p.my_pro_p
        %label.my_pro_lbl Website:
        %span.my_pro_spn --
      %p.my_pro_p
        %label.my_pro_lbl About Me:
        %span.my_pro_spn --
      .my_pro_sm
        %label.my_pro_lbl Follow Me:
        %ul
          %li
            %a{:href => "#"}
          %li
            %a.my_sm_facebook{:href => "#"}
          %li
            %a.my_sm_youtube{:href => "#"}
          %li
            %a.my_sm_linked{:href => "#"}
          %li
            %a.my_sm_tumblr{:href => "#"}
          %li
            %a.my_sm_posterous{:href => "#"}
          %li
            %a.my_sm_blog{:href => "#"}
          %li
            %a.my_sm_website{:href => "#"}
