:javascript
  $(document).ready(function() {
  
  	//When page loads...
  	$(".tab_content").hide(); //Hide all content
  	$("ul.tabs li:first").addClass("ui-tabs-selected").show(); //Activate first tab
  	$(".tab_content:first").show(); //Show first tab content
  
  	//On Click Event
  	$("ul.tabs li").click(function() {
  
  		$("ul.tabs li").removeClass("ui-tabs-selected"); //Remove any "active" class
  		$(this).addClass("ui-tabs-selected"); //Add "active" class to selected tab
  		$(".tab_content").hide(); //Hide all tab content
  
  		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
  		$(activeTab).fadeIn(); //Fade in the active ID content
  		return false;
  	});
  
  });
:javascript
  $(document).ready(function(){
  	$(".review_content").hide();
  	$(".review_top_heading").click(function(){
  		$(this).toggleClass("active").next().slideToggle("fast");
  		return false;
  	});
   
  });
/ Top Nav
%ul.tabs.np_tab_bg
  %li
    %a{:href => "#tab1"}
      %span My Profile
  %li
    %a{:href => "#tab2"}
      %span My Services
  %li
    %a{:href => "#tab3"}
      %span My Account

.tab_container
  = render :partial => "user_profile"
  = render :partial => "my_service"
  = render :partial => "my_account"
.clear
