
<h3>Change password</h3>

<%= form_tag(:action => 'change_password') do  %>

<label for="user_password">Choose password:</label><br/>
<%= password_field "non_profit", "password", :size => 20, :value=>"" %><br/>

<label for="user_password_confirmation">Confirm password:</label><br/>
<%= password_field "non_profit", "password_confirmation", :size => 20, :value=>"" %><br/>

<%= submit_tag "Submit" %>

<%end%>
