%h2 Organizations
- unless @non_profits.nil?
  .inner
  = select_tag "non_profit", options_for_select(@non_profits.collect{|b| [ b , b ]}) ,:include_blank => '-select-',:onchange => "document.location = '/non_profit/register/' + this.selectedIndex"
