%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      One user has purchased your service #{@service_title}  
      /= link_to "here", service_url(@service_id) 
    %p
    \--
    %b Your friends at GoodInKind
