%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Thankyou for submitting new request for a service #{@request_title}. We will inform you as someone offers a service against this request. 
    %p
    \--
    %b Your friends at GoodInKind
