%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Look at you converting your talent and skills into "good" for the world. Thank you!!
    %p
      Your service was successfully posted. You can view it 
      = link_to "here", service_url(@service_id) 
    %p
      Don't forget to share the link above with your friends and others that you think might be interested in the service.
    %p
    \--
    %b Your friends at GoodInKind
