%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      A new message was just posted for you on GoodInKind. Please Login into your GoodInKind Mailbox to check! @
      = link_to "http://www.goodinkind.com", "http://www.goodinkind.com"
    %p
    \--
    %b Your friends at GoodInKind
