%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      A new service was just posted on GoodInKind by #{@service_offerer}. 
      = link_to "Click", service_url(@service_id) 
      here to view it.
