%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      A new message was just posted on GoodInKind. Please check your GoodInKind Mailbox. 
    %p
    \--
    %b Your friends at GoodInKind
