%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@nonprofit_name},
      %br/
      Thank you for submitting your application to become a non-profit partner.
      %br/
      %br/
      br/
      Your friends at GoodInKind
    %p
    %p
