
%br
%p 
  %b Congratulations! 
%p Your GoodInKind partner application has been approved, and we are super thrilled about it! Users of GoodInKind will now be able to choose  #{@nonprofit_name} to be the recipient of funds raised through the sale of services on the website.

Your profile on GoodInKind has been pre-populated with information you submitted in your application as well as with any information available via First Giving, our payment partner. We recommend that you login to your profile with the username and password you created while submitting your application, and update your profile information. You can access your profile 
= link_to "here", login_nonprofits_url
%br
%br
The unique link that will send your donors to where they can browse services posted to benefit your organization, or where they can offer a service is 
= link_to(nonprofit_url(@nonprofit_perm), nonprofit_url(@nonprofit_perm))
%span Feel free to share this link on your website or other communications to your donors.
%br
%br
If you have any questions,please reach out to Dave at
= mail_to " daveg@goodinkind.com"
%br

%p Our team is looking forward to working together with you. 
%p
\--
%b Your friends at GoodInKind

