%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@nonprofit_name},
      %br/
      Thank you for submitting your application to become a GoodInKind non-profit partner. We will be in touch with you shortly.
      %br/
      %br/
      %br/
      Best regards
      %br/
      Your friends at GoodInKind
    %p
    %p
