%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      You have received one application from #{@nonprofit_name}. Please check and verify it.  
      %br/
      Best regards
      %br/
      Your friends at GoodInKind
    %p
    %p
