%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3 Nonprofits On GoodInKind
    %p
      Hi #{@nonprofit_name},
      Thank you  for submitting your application to become a non-profit partner.
      %br/
    %p
    %p
