%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Thank you for submitting your application to become a GoodInKind non-profit partner. We will be in touch with you shortly. If you have any questions in the meantime, please reach out to Dave at 
      = link_to "daveg@goodinkind.com",'mailto:davg@goodinkind.com' 
      %br/
      %br/
      %br/
      Best regards
      %br/
      Your friends at GoodInKind
    %p
    %p
