
%br
%p= "Unfortunately, we’re only supporting US registered non-profits in good-standing at this point. Your application to become a GoodInKind partner has been rejected."
%br
%p= "Feel free to reach out to Dave at"
= mail_to "daveg@goodinkind.com"
%span if you have any questions.

%br
%p Best regards,
%br
%p Your friends at GoodInKind
