%br
%p= "We received a request to reset the password for your GoodInKind non-profit account with username:#{@nonprofit.username}. Click on the following link to change your password:"
%br
%p= link_to 'Change my password', reset_password_nonprofits_url(:reset_password_token => @nonprofit.reset_password_token) 
%br
%p If you didn't request this, please ignore this email.
%br
%p Please note that this link will only work once.
%br
%br
%p Cheers
%br
%p Your friends at GoodInKind
