%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      A review was just posted for your service. Check it out
      = link_to "here", service_url(@service_permalink) 
    %p
    \--
    %b Your friends at GoodInKind
