%br
%span 
  = "We received a request to send you your username. Your GoodInKind username is #{@nonprofit.username}. You may login to access your profile at" 
  = link_to "#{login_nonprofits_url}", login_nonprofits_url 
%br
%br
%p Cheers,
%p Your friends at GoodInKind

