!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3  Offer and purchase virtual services for GoodInKind.
    %p
      Hi User from  #{@invite_city}
      wants to  offer and purchase virtual services from his Location.
      %br/
    %p
      = @invite_email
    %p
