!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi 
      Someone wants GoodInKind to rollout their service in #{@invite_city}.
      %br/
    %p
      Emailid of user is 
      = @invite_email
    %p
