.static_group
  .sg_left
    = render :partial => "static_tabs"
    
    
  .sg_text_container
    .sg_content
      %h3 About us
      %p We're a group of four people from around the world who are deeply passionate about doing good and finding new ways to enable others to do good. We believe that GoodInKind will be a truly enterprising way for people to give back while having fun and doing what they love to do or need to do anyway.
      %p
        %span.about_name Anar Pitre
        %img{:alt => "", :height => "86", :src => "http://startupprogress.dualbottomline.com/wp-content/uploads/2011/06/anar.jpg", :title => "Anar", :width => "86"}/
        Anar is the originator of the GoodInKind idea. Anar has successfully 'pivoted' her career a few times while discovering her strengths and finding her entrepreneurial passion. She got a Bachelors in Computer Engineering in Singapore, worked as a technology consultant at Accenture, then trained and worked as neuroscientist in Manhattan, and then worked as a consultant advising biotech clients and recently finished MBA from Cornell with an offer to join McKinsey. Right now, she is shuttling between Amsterdam and India.
      %p
        %span.about_name Dave Giffen
        %img{:alt => "", :height => "86", :src => "http://startupprogress.dualbottomline.com/wp-content/uploads/2011/06/DG-headshot-150x150.jpg", :title => "Dave Giffen", :width => "86"}/
        Since Dave first heard the idea from his wife CJ, he has been super excited and passionate about the startup and has been an active contributor in shaping the business model. Dave is vice-chair of The Coalition for the Homeless, Vice President of the Mercator Corporation, and founder of Howler Records. Dave has 25 years of experience in consulting, economic & social development and project management in the non-profit sector.
      %p
        %span.about_name Jessica Robbins
        %img{:alt => "", :height => "80", :src => "http://startupprogress.dualbottomline.com/wp-content/uploads/2011/06/Jessica-Headshot.jpg", :title => "Jessica Headshot", :width => "80"}/
        Jessica Robbins has six years of experience working for non-profits and completed her Master of Business Administration at Cornell University in May 2011. Prior to pursuing her MBA, she developed and financed green supportive and affordable housing in New York City. Jessica earned her Master of Urban Planning in 2005 from the New York University Wagner Graduate School of Public Service. She additionally served as a Teach for America Corps Member after completing her bachelor's degree at the University of Illinois at Urbana Champaign. Jessica lives in the Bay Area and will be helping with the startup through the summer.
      %p
        %span.about_name Kalyan Jonnalagadda
        %img{:alt => "", :height => "86", :src => "http://startupprogress.dualbottomline.com/wp-content/uploads/2011/06/kalyan.jpg", :title => "Kalyan", :width => "86"}/
        Kalyan is the lead investor for GoodInKind and has been involved in every aspect of this startup since its conception. In his day job, Kalyan is a manager at Bain & Company's Amsterdam office and will return to NY in November 2011. He has an MBA from Cornell University and he worked at Accenture as a technology consultant in Singapore prior to that.
