.static_group
  .sg_left
    = render :partial => "static_tabs"
  .sg_text_container
    .sg_content
      %h3 Contact us
      %p
        To report a bug or an issue, please use our feedback tool.
        If you'd rather send an email, please email us at
        %a{:href => "mailto:hello@goodinkind.com"} hello@goodinkind.com
.clear
