
:javascript
  $(document).ready(function(){
          $(".faq_ans").hide();
          $(".faq_qua").click(function(){
              $(this).toggleClass("").next().slideToggle("fast");
              return false;
              });
          });

.static_group
  .sg_left
    = render :partial => "static_tabs"
  
  .sg_text_container
    .sg_content
      %h3 Frequently Asked Questions
      .post_faq
        %a.faq_qua{:href => "#"} 1. What is GoodInKind?
        .faq_ans
          %p
            Simply put, GoodInKind is a website where users (individuals or business owners) can offer a
            service that others can purchase, and the funds from the sale are sent to a non-profit of the service
            offerer's choice.
          %p
            For example, maybe you're really good at magic tricks. You can offer magic tricks for a price on
            GoodInKind.com, and choose a non-profit you'd like to support. When someone buys your service,
            the proceeds will be sent to the non-profit you choose!
            %p Check out the video on the homepage to learn more.
      .post_faq
        %a.faq_qua{:href => "#"} 2. So, why is this a big deal?
        .faq_ans
          %p
            Well, we believe this will revolutionize how people give back and truly expand the total value of
            charitable donations. Here's why:
          %ul
            %li
              We believe everyone has a talent or skill they could offer as a service. GoodInKind now
              allows you to convert that talent into cash for a non-profit! So, giving back doesn't have to
              be about you making a cash donation yourself!
            %li
              As a buyer, you're getting cool services from real people who care in your community. By
              simply availing a service you want, you're supporting a non-profit cause!
            %li
              Unlike volunteering, where services are donated, you're not limited by the type of services
              you can offer or the timing of the offer.
            %li
              We like the idea of giving back being something beyond just money to the non-profit.
              Through GoodInKind, you meet great new people in your community and consume more
              local services!
      .post_faq
        %a.faq_qua{:href => "#"} 3. Who is a typical service offerer?
        .faq_ans
          %p
            A typical service offerer is either a local business owner that wants to give back to the community or
            any individual looking for a great new way to give back! We believe that everyone has some type of
            in-kindness to offer. There are many ways to get involved. Here are some examples
          %ul
            %li
              %strong
                %u Offer your skills, talents and abilities:
              good at magic tricks? Have a knack for always picking the
              right wine to go with a meal? Have a talent for turning chaotic closets into paragons of neatness
              and order? Great at giving tours of the architectural wonders in your home town?
            %li
              %strong
                %u Offer your professional services:
              whether you are carpenter, a graphic designer, a hair stylist, a
              house painter, a photographer, a mechanic or whatever, you can offer your professional skill as
              a way of raising money for your favorite cause.
            %li
              %strong
                %u Offer use of something enjoyable:
              maybe you have a gorgeous apartment with a great view, or a
              boat that you can take people out on, or a beach house with some unused time.
      .post_faq
        %a.faq_qua{:href => "#"} 4. I'm a local business owner? Is GoodInKind for me?
        .faq_ans
          %p
            In short, yes! In the bigger picture, this world needs businesses like yours to get more and more
            involved in giving back. Offering your service on GoodInKind is a great way to:
          %ul
            %li Attract new customers
            %li Show your customers that you care!
            %li Enhance your relations with the community
            %li Use social media and innovative marketing techniques
          %p
            Learn more
            %a{:href => "http://www.slideshare.net/goodinkind/good-inkind-for-business-owners", :target => "_blank"} here
      .post_faq
        %a.faq_qua{:href => "#"} 5. What if I don't have a skill or service to offer?
        .faq_ans
          %p
            While we believe that everyone has something to offer, some type of in-kindness, the beauty
            of GoodInKind is that you can choose to participate on either side of the transaction in order to
            support worthy causes. Simply browse and purchase a service you need!
      .post_faq
        %a.faq_qua{:href => "#"} 6. Is the payment tax deductible?
        .faq_ans
          %p
            Our accountants tell us that since the buyer is receiving a service for the money paid, the payment
            made by the buyer is not tax deductible. However, if the buyer chooses to pay an amount in excess
            of the fair market value of the service provided, that excess amount is treated as a tax deductible
            donation to the nonprofit organization.
          %p
            For the person offering the service, unfortunately the IRS does not allow tax deductions on in-
            kind donations. However, any out-of-pocket expenses incurred in delivery of the service would be
            considered tax deductible.
          %p We recommend you contact your accountant or IRS for more precise advice.
      .post_faq
        %a.faq_qua{:href => "#"} 7. How can I be sure that what I am selecting will be good?
        .faq_ans
          %p
            GoodInKind provides helpful information about the offerer and the service so you can make an
            informed choice.
          %ul
            %li You will be able to see reviews of the offerer posted by any previous buyers.
            %li
              Each offerer will have an online profile on the site, allowing you to review his or her past
              history on GoodInKind. If the individual provides access, you will also be able to view his or
              her LinkedIn, Facebook, Twitter and other social media profiles.
            %li
              You will be able to direct message the service offerer and clarify any questions you have
              before making the purchase
            %li
              Upcoming feature: There will also be a "Comments and questions" forum on the site for
              buyers to ask questions and the offerers to provide responses.
            %li
              Upcoming feature: You will be able to view any recommendations made by your friends (if
              you login using your Facebook account).
      .post_faq
        %a.faq_qua{:href => "#"} 8. I am worried about scams, how are you guys handling that?
        .faq_ans
          %p
            The short answer is that because no individual or business can financially benefit from offering a
            service on GoodInkind.com, we see no room for scam. The service offerer is merely "donating" their
            service in return for cash from you to be sent to a non-profit. We use First Giving as our payment
            partner and First Giving will only send payments to US registered 501C3 non-profits.
      .post_faq
        %a.faq_qua{:href => "#"}
          9. I am looking for a specific service or experience, but I don't see anyone offering it in my location.
          What do I do now?
        .faq_ans
          %p
            GoodInKind allows you to post requests for any service or experience you're looking for. When
            someone sees your request and is able to offer that service through our platform, GoodInKind will
            notify you immediately.
      .post_faq
        %a.faq_qua{:href => "#"} 10. What kind of charities and causes are included?
        .faq_ans
          %p
            GoodInKind is partnering with only US registered non-profits that are either recognized by IRS as a
            501C3 in good standing or are legally allowed to receive donations via a 501C3 organization.
      .post_faq
        %a.faq_qua{:href => "#"} 11. How you ensure the money goes where it's supposed to?
        .faq_ans
          %p
            We use
            %a{:href => "http://www.firstgiving.com/", :target => "_blank"} First Giving
            as our payment partner. First Giving performs the tasks of verifying that the
            organizations receiving the funds have a 501C3 status in good standing, and take care of the actual
            disbursement of funds to the non-profits.
      .post_faq
        %a.faq_qua{:href => "#"} 12. How can I make a payment and when will I be charged?
        .faq_ans
          %p
            Buyers will be able to pay for the specific service or experience they purchase using their credit/
            debit cards on the website. At the moment, the payment is processed immediately at the point
            of your purchasing a service. In the next few weeks, we're rolling out a feature where we will only
            authorize your card at point of purchase. The actual payment will be charged a few weeks out so
            you can cancel it in case the service was not delivered.
      .post_faq
        %a.faq_qua{:href => "#"} 13. What if I am not satisfied with the quality of the service delivered?
        .faq_ans
          %p
            We hope that with the ability to read reviews, ask questions and view the individual's profile before
            you make a purchase, this will never happen. We would also hope that only people who are driven
            by the desire to "Do Good" participate in GoodinKind and that, as a result, disputes will be kept to a
            minimum.
          %p
            However, in the event that you were not satisfied with the service, we will unfortunately not be able
            to offer a refund, as the funds are donated to the designated charity or cause. We strongly urge you
            to post your feedback as a way to help potential future buyers.
      .post_faq
        %a.faq_qua{:href => "#"} 14. Are there transaction fees? Who pays them?
        .faq_ans
          %p
            Our payment partner, First Giving does charge a 4.25% transaction fees to process payments and
            disburse funds to the non-profit. At the moment, GoodInKind does not charge any service charge
            whatsoever. Example: If you purchased a service for $100, the non-profit chosen will receive $95.75.
          %p
            GoodInKind is a for-profit organization. At some point in the future, we will be adding a small
            transaction fee on top of the price quoted by the service offerer. This will be made very clear to the
            buyer before the purchase.
      .post_faq
        %a.faq_qua{:href => "#"} 15. Will I be put on a mailing list?
        .faq_ans
          %p
            The non-profit receiving the funding as a result of your offering or buying a service through
            GoodInKind would like your email address so that they can thank you for your support. Very soon,
            we will rollout a feature where if you would like to opt-out of this, there will be an easy option for
            you to do so. View our
            %a{:href => "http://goodinkind.com/privacy_policy", :target => "_blank"} privacy policy
      .post_faq
        %a.faq_qua{:href => "#"} 16. What if I want to offer a service or experience only to my friends?
        .faq_ans
          %p
            When you create a posting for an offer, you will be able to choose an option that will keep your
            posting private. That way, only those that you pass on the link to the posting will be able to view and
            buy it.
      .post_faq
        %a.faq_qua{:href => "#"} 17. I am a non-profit, how will I receive payments?
        .faq_ans
          %p FirstGiving will transfer funds to you in one of two ways:
          %ul
            %li
              On a weekly basis via electronic funds transfer, or monthly if payment is via check if the
              funds due to such participant exceed $99.99; or
            %li
              No less frequently than quarterly if the funds due are less than $99.99. Payments will
              be sent on or about the 17th of the month following the end of the relevant payment
              period.
          %p
            The first time FirstGiving sends a check, they will send instructions for electronic funds
            transfer. Every time a payment is sent, a detailed report is also sent to the non-profit with
            information on each transaction.
      .post_faq
        %a.faq_qua{:href => "#"} 18. I'm a non-profit. How do I integrate GoodInKind into my own website, with my donor base?
        .faq_ans
          %p
            Contact us at
            %a{:href => "mailto:hello@goodinkind.com"} hello@goodinkind.com
            and let us know that you want to participate. We will go
            through the process with you and get you all of the tools needed to effortlessly interface our
            platform with your own web site.
.clear
