= javascript_include_tag 'jquery.innerfade'

:javascript
  $(document).ready(
  function(){
  $('#slide_text').innerfade({
  animationtype: 'fade',
  speed: 1000,
  timeout: 5000,
  containerheight: ''
  });
  });
:javascript
  $(document).ready(function(){

  	$("#in").click(function(event){
  		$("#overlay").fadeIn("fast");
  		return false;
    });

    $("#close,#overlay").click(function(event){
        $("#overlay").fadeOut("fast");
        return false;
    });

    $(document).keyup(function(e) {
       if (e.keyCode == 27) { $('#overlay').hide(); }   // esc
    });

  	$("#box").click(function(event){
  		$("#overlay").show();
  		return false;
  	});

  });

#overlay
  #box
    %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :flashvars => "playerVars=autoPlay=no", :height => "338", :name => "Metacafe_7050517", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :src => "http://www.metacafe.com/fplayer/7050517/real_steel_featurette.swf", :type => "application/x-shockwave-flash", :width => "600", :wmode => "transparent"}


%ul#slide_text.slide_text_db
  %li
    GoodInKind allows
    %span everyone
    to give back, while having fun and meeting other great people
  %li GoodInKind converts your skills &amp; talents into cash for your favorite non-profit
  %li
    GoodInKind is a
    %span marketplace
    for cool services, from real people who care
.home_banner
  %a#in.watch_video{:href => "#"} Watch Video
  %ul
    %li
      %strong> Offer a Service
      Think of a service Pick your fave Non-Profit Offer on GoodInKind
    %li
      %strong> Get Together. Do Good.
      Offerer delivers service to buyer We send the proceeds to the non-profit chosen by offerer
    %li
      %strong> Buy a Service
      Explore offered services,or request a service Buy securely
= render :partial => '/services/offer_search'
= render :partial => '/services/featured_service'
