.sidebar_left_sugg
  %h3 GoodInKind's Suggestions:
  %ul
    %li
      %a{:href => "#"} Dance lessons
    %li
      %a{:href => "#"} Cooking class
    %li
      %a{:href => "#"} Photography tour
    %li
      %a{:href => "#"} Wine Appreciation
