.stats
  %h3 GoodInKind Stats
  %p
    Total Contributed:
    %span $3,000
  %p
    Total Hours Contributed:
    %span 234
  %p
    Total number of donors:
    %span 35
  %p
    Total Transactions:
    %span 234
  %p
    %a.button{:href => "#"} Browse services (34)
    %a.button.bu_right{:href => "#"} Offer a service
