#c3{:style => "float:left;"}
  .np_tab_logo
    = image_tag('nonprofit_client_icon.jpg', :alt => "Image", :class => "np_logos")
  .np_account_form
    %form
      .setp_box
        %h3.setp_box_heading
          %span Contact Information
        %span.edit_info_left.edit_info
          = image_tag('edit_icon.jpg', :alt => "edit")
          = link_to "Edit Information", "#"
        %p
          %label.form_lbl.np_lbl Name
          %span.np_account_span Anupam Dubey
        %p
          %label.form_lbl.np_lbl Title/Positon
          %span.np_account_span Chief Architect
        %p
          %label.form_lbl.np_lbl Work Email
          %span.np_account_span anupam@akdesign.in
        %p
          %label.form_lbl.np_lbl Work Phone
          %span.np_account_span 123456789
        %p
          %label.form_lbl.np_lbl Cell Phone
          %span.np_account_span 9876543222
        %p.np_bot_p
          %input.input_checkbox{:type => "checkbox"}/
          %span.setp_box_p_span Show this contact name and contact email to users viewing my organization profile
      .setp_box
        %h3.setp_box_heading
          %span Change Password
        %p
          %label.form_lbl.np_lbl Old Password
          %input.form_input_full.input_half{:type => "password"}/
        %p
          %label.form_lbl.np_lbl New Password
          %input.form_input_full.input_half{:type => "password"}/
        %p
          %label.form_lbl.np_lbl Confirm New Password
          %input.form_input_full.input_half{:type => "password"}/
      .setp_box
        %h3.setp_box_heading
          %span Email Alert Preferences
        %p.np_bot_check
          %input{:type => "checkbox"}/
          %span When a service is offered in support of your non-profit
        %p.np_bot_check
          %input{:type => "checkbox"}/
          %span When a service is purchased in support of your non-profit
        %p.np_bot_check
          %input{:type => "checkbox"}/
          %span When payment is actually processed by GIK in support of your non-profit
      .input_post_div
        %p.np_acc_btn
          %input.btn_form.button{:type => "button", :value => "Save"}/
          %input.btn_form.button.np_cancel_btn{:type => "reset", :value => "Cancel"}/
/ END C3
