.featured_services_find
  %a.bro_req_btn{:href => login_nonprofits_path} I am a Non-Profit
  %h2.fs_find_h2
    Non-Profit Partners
    %br/
    %span
      Choose a non-profit organization below and support it by either purchasing
      = succeed "a" do
        %br/
      posted service or offering a service yourself.
  .np_results
    .np_results_list
      %img.np_logos{:alt => "image", :src => "/images/nonprofit_client_icon.jpg"}/
      %p.np_rel_text
        %span
          %b Food For The Poor,
          Ithaca - NY
        Food For The Poor is the third-largest international relief and development charity in the United States, feeding 2 million people every day. Food For The Poor is the third-largest international relief and development charity in the United States...
        %a{:href => "#"} read more
      %p.np_rel_btns
        %a.button{:href => "#"}> Browse Services (10)
        \&nbsp;&nbsp;&nbsp;
        %a.button{:href => "#"} Offer a Service
    .np_results_list
      %img.np_logos{:alt => "image", :src => "/images/nonprofit_client_icon.jpg"}/
      %p.np_rel_text
        %span
          %b Food For The Poor,
          Ithaca - NY
        Food For The Poor is the third-largest international relief and development charity in the United States, feeding 2 million people every day. Food For The Poor is the third-largest international relief and development charity in the United States...
        %a{:href => "#"} read more
      %p.np_rel_btns
        %a.button{:href => "#"}> Browse Services (10)
        \&nbsp;&nbsp;&nbsp;
        %a.button{:href => "#"} Offer a Service
    .np_results_list
      %img.np_logos{:alt => "image", :src => "/images/nonprofit_client_icon.jpg"}/
      %p.np_rel_text
        %span
          %b Food For The Poor,
          Ithaca - NY
        Food For The Poor is the third-largest international relief and development charity in the United States, feeding 2 million people every day. Food For The Poor is the third-largest international relief and development charity in the United States...
        %a{:href => "#"} read more
      %p.np_rel_btns
        %a.button{:href => "#"}> Browse Services (10)
        \&nbsp;&nbsp;&nbsp;
        %a.button{:href => "#"} Offer a Service
    .np_results_list
      %img.np_logos{:alt => "image", :src => "/images/nonprofit_client_icon.jpg"}/
      %p.np_rel_text
        %span
          %b Food For The Poor,
          Ithaca - NY
        Food For The Poor is the third-largest international relief and development charity in the United States, feeding 2 million people every day. Food For The Poor is the third-largest international relief and development charity in the United States...
        %a{:href => "#"} read more
      %p.np_rel_btns
        %a.button{:href => "#"}> Browse Services (10)
        \&nbsp;&nbsp;&nbsp;
        %a.button{:href => "#"} Offer a Service
    .np_results_list
      %img.np_logos{:alt => "image", :src => "/images/nonprofit_client_icon.jpg"}/
      %p.np_rel_text
        %span
          %b Food For The Poor,
          Ithaca - NY
        Food For The Poor is the third-largest international relief and development charity in the United States, feeding 2 million people every day. Food For The Poor is the third-largest international relief and development charity in the United States...
        %a{:href => "#"} read more
      %p.np_rel_btns
        %a.button{:href => "#"}> Browse Services (10)
        \&nbsp;&nbsp;&nbsp;
        %a.button{:href => "#"} Offer a Service
/ End Featured Services
