.sidebar_search
  %form
    %input.sidebar_sarch_input{:name => "Search Non-Profits", :onblur => "if (this.value == '') {this.value = 'Search Non-Profits';}", :onfocus => "if(this.value == 'Search Non-Profits') {this.value = '';}", :value => "Search Non-Profits"}/
    %input.button.btn_sidebar{:type => "button", :value => "Go"}/
.sidebar_left_find
  .sidebar_list
    %h3 Browse by Category
    %ul
      %li
        %strong
          New
          %span.np_span_list 10
      %li
        Children &amp; Youth
        %span.np_span_list 137
      %li
        Education
        %span.np_span_list 125
      %li
        Healthcare
        %span.np_span_list 60
      %li
        Poverty
        %span.np_span_list 12
      %li
        Other
        %span.np_span_list 160
      %li
        Community Services
        %span.np_span_list 55
      %li
        Arts &amp; Culture
        %span.np_span_list 30
    %p
      %a{:href => "#"}
        show all
        = image_tag('find_down_arrow.png', :alt => "arrow")
