%h2 Forgot your username?

=form_for :nonprofit, :url => forgot_username_nonprofits_path, :html => { :method => :post } do |f| 
  %p Please provide your EIN and we will email you your username 
  %p= f.text_field :ein 
  %p= session[:error_ein]
  %p= f.submit "Submit" 

