%h2 Forgot your username?

=form_for :nonprofit, :url => forgot_username_nonprofits_path, :html => { :method => :post } do |f| 
  %br= f.label "Give us your EIN" 
  %p= f.text_field :ein 
  %p= f.submit "Send me username" 

