%h2 Forgot your password?

=form_for :nonprofit, :url => forgot_password_nonprofits_path, :html => { :method => :post } do |f| 
  %br= f.label :username 
  %p= f.text_field :username 
  %p= f.submit "Send me reset password instructions" 

