%h2 Forgot your password?

=form_for :nonprofit, :url => forgot_username_nonprofits_path, :html => { :method => :post } do |f| 
  %br= f.label :email 
  %p= f.email_field :email 
  %p= f.submit "Send me username" 

