%h2 Forgot your password?

=form_for :nonprofit, :url => forgot_password_nonprofits_path, :html => { :method => :post } do |f| 
  %p Enter your username and we will email you instructions to change your password
  %br
  - if @nonprofit.errors[:base].any?
    #error_explanation
      - @nonprofit.errors.full_messages.each do |msg|
        %b= msg
  %p= f.text_field :username, :class =>"input_medium"
  %p= f.submit "Submit" 

