%h2 Forgot your password?

=form_for :nonprofit, :url => forgot_password_nonprofits_path, :html => { :method => :post } do |f| 
  %br
  %P Enter your username and we will email you instructions to change your password
  %br
  %p= f.text_field :username 
  %p= f.submit "Submit" 

