- content_for :body_content do
  %h2.offer_form_h2
    Non-Profit Partner Application
  .np_page_top
    %p
      Thank you for your interest in becoming a non-profit partner on GoodInKind. Becoming a partner organization will allow you to build and customize your profile, and allows users of GoodInKind to support you by raising funds for your organization. Learn more about being a partner 
      %a{:href => "http://www.slideshare.net/goodinkind/goodinkind-for-nonprofits", :target => "_blank"} here 
    %p
      You must be a representative or employee of the nonprofit organization to submit the partner application.
    %p
      Only US non-profits with a valid 501(c)3 status or that can legally receive funds via a 501(c)3 organization can become GoodInKind partners.
    %p
      Submit your application by filling out the information below.
  = render 'form'

- content_for :header_links do
  %p

= render :file => 'layouts/service', :locals => { :find => false}

