!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %META{:CONTENT => "5;URL=http://www.goodinkind.com", "HTTP-EQUIV" => "REFRESH"}
%b{:style => "font-size:14px;"} Thank you for submitting your application to become a GoodInKind non-profit partner. We will be in touch with you shortly. 
