- content_for :tab_content do 
  .transactions_bord
    - if @bookings.count == 0
      %p
      You have no completed transactions yet. When someone buys a service on GoodInKind to support your organization, this page will show the details of the transactions.
    - else
      #transaction
        = render :partial => "transaction"
