<p>Welcome to the GoodInKind community!</p><br/>

<p> Your new GoodInKind account has been created, but you will need to confirm it to activate it. Please ensure your profile is up-to-date when you log in so that GoodInKind users can feel comfortable interacting online with you. </p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p> <b>-- Your Friends at GoodInKind </b> </p>

