.footer
  .footer_video
    %img{:alt => "video", :src => "/images/video-pic.jpg"}/
  %ul.footer_nav
    %li
      %a{:href => "#"} About
    %li
      %a{:href => "#"} Blog
    %li
      %a{:href => "#"} FAQ
    %li
      %a{:href => "#"} Contact
    %li
      %a{:href => "#"} Terms
    %li
      %a{:href => "#"} Privacy Policy
    %li
      %a{:href => "#"} Jobs
  .footer_divider
  %ul.footer_social_media
    %li
      %a{:href => "#", :target => "_blank", :title => "Facebook"}
    %li
      %a.fot_tw{:href => "#", :target => "_blank", :title => "Twitter"}
    %li
      %a.fot_yt{:href => "#", :target => "_blank", :title => "Youtube"}
  .footer_divider
  %span.copyr &copy;2011, GoodInKind, All Rights Reserved
