.header.header_inner
  %h1.logo_inner
    = link_to image_tag("goodinkind-logo-small.png", :alt => "Goodinkind - Get Together. Do Good."), root_path
  %ul.nav.np_nav_top
    %li
      %a.np_nav_active{:href => "#"} Food For The Poor
    %li.nav_non
      %a{:href => "#"} Logout
