.header.header_inner
  %h1.logo_inner
    = link_to image_tag("goodinkind-logo-small.png", :alt => "Goodinkind - Get Together. Do Good."), root_path
  - if nonprofit_logged_in?
    %ul.nav.np_nav_top
      %li
        / FIXME: fixed login issues
        = link_to @nonprofit.name, nonprofit_path(@nonprofit), :class => 'np_nav_active'
      %li.nav_non
        = link_to "Logout", logout_nonprofits_path
