#tabvanilla
  %ul.tabnav.ui-tabs-nav.np_tab_bg
    %li.ui-tabs-selected
      %a{:href => "#c1"}
        %span Non-Profit Profile
    %li
      %a{:href => "#c2"}
        %span Transactions
    %li
      %a{:href => "#c3"}
        %span Account

