<!DOCTYPE html>
<html>
<head>
  <title>Gik</title>
 <%= stylesheet_link_tag "calendrical" %>
 <%= javascript_include_tag "jquery","jquery.calendrical" %>
 <%#= javascript_include_tag  "application", "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
